body {
    color: navy;
    background: linear-gradient(to left top, white, blue);
    min-height: 100vh;
    width: 100%;
}

#main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(238, 84, 57);
    width: 80%;
}

.listInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: pink;
    border-style: solid;
    border-color: aquamarine;
    min-width: 80;
}

input[type=text] {
    width: 100%;

}